<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Form</title>
</head>
<body>
    <h2>Edit your  char <%= chat._id%> </h2>
    <h3>This message send by   <b ><%=chat.from%></b>  To  <b><%=chat.to%></b></h3>
    
    
    <form method="POST" action="/chats/<%=chat._id%>?_method=PUT">

        <textarea name="msg"  rows="5" cols="20" ><%=chat.msg%></textarea><br>
        <button>Submit</button>
    </form>


</body>
</html>